$brandWhite: #ffffff;
$brandBlack: #000000;
$brandGreen: #009187;
$brandLightGreen: #25d19f;
$brandLightGreen2: #e0f2ed;
$brandGreen2: #12ab73;
$brandDefaultBlack: #222222;
$brandGray:#636363;
$brandDarkGray: #acacac;
$brandWhiteSmoke: #f7f7f7;
$brandSnow: #fafafa;
$brandGray90: #e5e5e5;
$brandLinen: #faf2ee;
$brandPink: #9e128f;
$brandViolet: #7b81d5;
$brandVioletLight: #e2e3ff;
$brandYellow: #ffaa17;
$brandLightPink: #fdecfb;
$brandLightYellow: #fff3dd;
$brandsky: #23c8e1;

$brandAlizarin: #d4850e;
$brandTerraCotta: #c34f5a;
$brandTuatara: #22384d;
$brandSoftOrange: #ff7129;
$brandCarmine: #e82323;
$brandPistachio: #89bf04;
$brandLimeGreen: #e4f7e2;